* {
  font-family: "Arial Black";
}

#container {
  margin: 0px;
  flex: 1;
  background-color: #23242e;
  color: #fff;
  justify-content: center;
}
header {
  height: 80px;
  margin: 0px;
  padding-top: 25px;
  font-size: 30pt;
  font-family: "Arial Black";
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #e6e6e6;
}

#topo {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
}

#modeloInput {
  background-color: #23242e;
  border: none;
  outline: none;
  height: 60px;
  text-align: center;
  width: 50%;
  font-size: 30pt;
  margin: 5px;
  color: #fff;
}

#dataInput {
  background-color: #23242e;
  border: none;
  outline: none;
  height: 60px;
  text-align: center;
  width: 50%;
  font-size: 30pt;
  margin: 5px;
  color: #fff;
}

#dataInput p {
  text-align: center;
}

#calcadoInput {
  background-color: #23242e;
  border: none;
  outline: none;
  align-self: center;
  height: 60px;
  text-align: center;
  width: 50%;
  font-size: 30pt;
  margin: 5px;
  color: #fff;
}

#buttons {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-self: center;
}

#gravarBtn {
  font-family: "Arial";
  align-self: center;
  background-color: #21b821;
  margin: 20px;
  width: 20%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50px;
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
  box-shadow: 5px 5px 5px black;
}

#pararBtn {
  font-family: "Arial";
  align-self: center;
  background-color: #ffa500;
  margin: 20px;
  width: 20%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 25pt;
  font-weight: bold;
  box-shadow: 5px 5px 5px black;
}

#conectarBtn {
  font-family: "Arial";
  align-self: center;
  background-color: #00bfff;
  margin: 20px;
  width: 20%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 25pt;
  font-weight: bold;
  box-shadow: 5px 5px 5px black;
}

#terminal {
  background-color: #282a36;
  margin: 20px;
  padding: 20px;
  height: 400px;
  font-size: 15pt;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
}
#terminal p {
  text-align: center;
  font-family: "Arial";
}

#results {
  justify-content: center;
  align-items: center;
  font-size: 25pt;
  display: flex;
  flex-direction: row;
  padding: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 15%;
}

#textIndices {
  font-family: "Arial";
  font-weight: bold;
  font-size: 24pt;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}

#textResultTempIni,
#textResultTempFin,
#textResultTempDelta {
  width: 100%;
  height: 40px;
  text-align: center;
  color: rgb(245, 31, 31);
}

#textResultUmidIni,
#textResultUmidFin,
#textResultUmidDelta {
  text-align: center;
  color: #00bfff;
  height: 40px;
  width: 100%;
}

#TempIni {
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#UmidIni {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#TempFin {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#UmidFin {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#DifTemp {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#DifUmid {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  padding: 0;
}
