@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


div.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #1F1F24;
  height: 100%;
}

div.form {
  
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

img#logo {
  display: block;
  margin: 30px auto;
  width: 130px;
  height: 130px;
}

div.label{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 42px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

p.txt{
  text-align: left;
  margin-left: 15px;
  font-weight: bold;
  width: 290px;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: #FEFEFE;
}

input.inputs{
  font-size: 40px;
  text-align: center;
  width: 290px;
  border-radius: 6px;
  background: none;
  border: 1px solid #E1E1F2;
  outline: none;
  color: #FEFEFE;
}
input.inputs:focus{
  border-color: #28F5BE;
}

div.buttons{
  margin: 7px;
  display: flex;
  flex-direction: row;
}

button.btnC{
  margin: 0px 16px;
  width: 180px;
  height: 80px;
  background-color: #4976EF;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 36px;
  font-family: 'Fjalla One', sans-serif;
}

button.btnC:hover{
  background-color: rgb(93, 134, 248);
}

button.btnG{
  margin: 0px 16px;
  width: 180px;
  height: 80px;
  background-color: #15CE9A;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 36px;
  font-family: 'Fjalla One', sans-serif;
}
button.btnG:hover{
  background-color: rgb(50, 241, 187);
}

button.btnP{
  margin: 0px 16px;
  width: 180px;
  height: 80px;
  background-color: #E93F66;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 36px;
  font-family: 'Fjalla One', sans-serif;
}
button.btnP:hover{
  background-color: rgb(255, 70, 113);
}

div.reta1 {
  align-self: center;
  background-color: #28F5BE;
  width: 3px;
  height: 95vh;
  margin:  5px;
  margin-top: 10px;
  border-radius: 25%;
}

div.rigthView{
  width: 50%;
  height: 100%;
}

div.content{
  margin-top: 40px;
}

p.topic{
  font-weight: bold;
  width: 290;
  font-size: 40pt;
  font-family: 'Roboto', sans-serif;
  color: #FEFEFE;
  margin-left: 32px;
  margin-bottom: 25px;
}

div.indices{
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

div.resultados{
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

p.inicial {
  width: 80px;
  height: 35px;
  margin: 0px 55px;
  color: #FEFEFE;
  font-size: 22pt;
  text-align: center;
}

p.final{
  width: 80px;
  height: 35px;
  margin: 0px 55px;
  color: #FEFEFE;
  font-size: 22pt;
  text-align: center;
}

p.delta{
  width: 80px;
  height: 35px;
  margin: 0px 55px;
  color: #FEFEFE;
  font-size: 22pt;
  text-align: center;
}

div.reta2{
  margin-top: 32px;
  align-self: center;
  background-color: #28F5BE;
  width: 90%;
  height: 3px;
  border-radius: 25%;
}

div.terminal {
  margin: 15px 32px;
  width: 548px;
  height: 250px;
  max-height: 250px;
  border-radius: 5px;
  background-color: #27272D;
  overflow: auto;
}

p.txtterminal {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin: 20px;
  color: #eee;
}

#terminal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(182, 182, 182, 0.719);
  border-radius: 10px;
  background-color: #b6b6b6;
}
#terminal::-webkit-scrollbar {
  width: 12px;
  background-color: #eeeeee;
}
#terminal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.911);
  background-color: #d4d4d4;
}

