#container {
  margin: 0px;
  flex: 1;
  background-color: #23242e;
  color: #fff;
}
header {
  background-color: #282a36;
  height: 80px;
  margin: 0;
  padding-top: 25px;
  font-size: 30pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #50fa7b;
}

#topo {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
}

#modeloInput {
  background-color: #23242e;
  border: none;
  outline: none;
  height: 60px;
  text-align: center;
  width: 50%;
  font-size: 30pt;
  margin: 5px;
  color: #fff;
}
#dataInput {
  background-color: #23242e;
  border: none;
  outline: none;
  height: 60px;
  text-align: center;
  width: 50%;
  font-size: 30pt;
  margin: 5px;
  color: #fff;
}

#calcadoInput {
  background-color: #23242e;
  border: none;
  outline: none;
  align-self: center;
  height: 60px;
  text-align: center;
  width: 50%;
  font-size: 30pt;
  margin: 5px;
  color: #fff;
}

#buttons {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-self: center;
}

#gravarBtn {
  align-self: center;
  background-color: #50fa7b;
  margin: 20px;
  width: 20%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50px;
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
}

#pararBtn {
  align-self: center;
  background-color: #50fa7b;
  margin: 20px;
  width: 20%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 25pt;
  font-weight: bold;
}

#conectarBtn {
  align-self: center;
  background-color: #00bfff;
  margin: 20px;
  width: 20%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 25pt;
  font-weight: bold;
}

#terminal {
  background-color: #282a36;
  margin: 20px;
  padding: 20px;
  height: 200px;
  font-size: 15pt;
  font-weight: bold;
  border-radius: 25px;
}

#results {
  font-size: 25pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 15%;
}

#textIndices {
  color: #fff;
  margin-bottom: 0px;
}

#textResultTempIni,
#textResultTempFin,
#textResultTempDelta {
  border: none;
  outline: none;
  text-align: center;
  color: #f00;
  height: 40px;
  width: 150px;
}

p#textResultTemp {
  margin-top: 5px;
  padding: 0;
}

#textResultUmidIni,
#textResultUmidFin,
#textResultUmidDelta {
  border: none;
  outline: none;
  text-align: center;
  color: #00f;
  height: 40px;
  width: 150px;
}
p#textResultUmid {
  margin-top: 5px;
  padding: 0;
}

#TempIni {
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#UmidIni {
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#TempFin {
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#UmidFin {
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#DifTemp {
  flex-direction: column;
  width: 33%;
  padding: 0;
}

#DifUmid {
  flex-direction: column;
  width: 33%;
  padding: 0;
}
